name: Deploy Next.js to Linux Server

on:
  push:
    branches:
      - main # 或你实际使用的分支

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest # 使用 GitHub 提供的最新标准 Ubuntu 环境
    environment: Production

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
          cache: 'yarn'

      - name: Cache Next.js build
        uses: actions/cache@v3
        with:
          path: .next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-

      - name: Create .env.local from secrets
        run: |
          echo "NEXT_PUBLIC_GISCUS_REPO=${{ secrets.NEXT_PUBLIC_GISCUS_REPO }}" >> .env.local
          echo "NEXT_PUBLIC_GISCUS_REPOSITORY_ID=${{ secrets.NEXT_PUBLIC_GISCUS_REPOSITORY_ID }}" >> .env.local
          echo "NEXT_PUBLIC_GISCUS_CATEGORY=${{ secrets.NEXT_PUBLIC_GISCUS_CATEGORY }}" >> .env.local
          echo "NEXT_PUBLIC_GISCUS_CATEGORY_ID=${{ secrets.NEXT_PUBLIC_GISCUS_CATEGORY_ID }}" >> .env.local

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build project
        run: yarn build

      - name: Archive build files
        run: |
          tar --exclude='.next/cache' -czf output.tar.gz .next public package.json yarn.lock .env.local .yarnrc.yml .yarn

      - name: Upload via SCP to remote server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          source: 'output.tar.gz'
          target: '/home/wwwroot/blog'

      - name: SSH into server and deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            export PATH=$PATH:/usr/local/bin
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            [ -f ~/.profile ] && source ~/.profile
            [ -f ~/.bashrc ] && source ~/.bashrc
            cd /home/wwwroot/blog
            tar -xzf output.tar.gz
            rm output.tar.gz
            yarn install
            pm2 restart blog || pm2 start npm --name "blog" -- start
